.home-header {
  position: relative;
}

.home-image {
  width: 100%;
  object-fit: cover;
}
.home-cite {
  position: absolute;
  width: 665px;
  max-width: 42vw;
  margin: 0;
  padding: 0;
  top: 27vw;
  left: calc(50vw / 4);
  font-size: clamp(2.5vw, 1.5vw, var(--fontSize));
  font-family: var(--fontFamilyVariant);
  text-align: center;
}
.home-section {
  position: relative;
  height: 15vw;
  background-color: var(--primaryColor);
  margin: 0;
  padding: 0;
}
.home-arrow {
  position: absolute;
  width: calc(100% - 60vw);
  object-fit: cover;
  right: 1vw;
  top: 6vw;
}

.home-section-title {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: clamp(11vw, 2vw, var(--fontSize));
  font-weight: var(--fontWeightUltraLight);
  color: var(--quaternaryColor);
  top: 5vw;
  left: 5vw;
  letter-spacing: 3px;
  text-shadow: 0 2px 5px #000;
}
.home-content {
  width: calc(100% - 40vw);
  margin: auto;
}
.home-content-text {
  margin-top: 10vw;
  width: 45ch;
  font-size: clamp(1rem, 2vw, 3rem);
  word-spacing: 0.1rem;
  line-height: 1.7;
}
.home-polaroid {
  max-width: 85vw;
  margin: 7rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.polaroidClar {
  margin-top: 10vw;
  justify-self: center;
  transform: rotate(-9deg);
  margin-left: 1rem;
  transition: all ease 0.5s;
}
.polaroidClar:hover {
  transform: scale(1.1);
}
.polaroidBlue {
  justify-self: center;
  transition: all ease 0.5s;
}
.polaroidBlue:hover {
  transform: scale(1.1);
}
.polaroidWhite {
  justify-self: center;
  transform: rotate(9deg);
  margin-right: 1rem;
  transition: all ease 0.5s;
}
.polaroidWhite:hover {
  transform: scale(1.1);
}
.home-title {
  margin: 14vw 0 6vw 0;
  padding-right: 13vw;
  font-size: clamp(8vw, 10vw, 12vw);
  text-align: center;
  color: var(--quinaryColor);
  font-weight: var(--fontWeightUltraLight);
  word-spacing: 0.2rem;
  line-height: 1.7;
}

.home-paterns {
  width: calc(100% - 20vw);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.image-patern {
  justify-self: center;
  width: 70%;
  object-fit: cover;
}

.home-image-arrow-up {
  object-fit: cover;
  width: 100%;
}
.alter {
  margin: 5vw 0 6vw 0;
  padding-right: 26vw;
  line-height: 1.2;
}

@media screen and (max-width: 600px) {
  .home-content {
    width: calc(100% - 15vw);
  }
  .home-content-text {
    width: 29ch;
    font-size: 16px;
    line-height: 1.3;
  }
  .home-polaroid {
    margin: 8vw auto;
    max-width: 90vw;
  }
  .home-title {
    margin: 10vw 0 6vw 0;
  }
  .alter {
    margin: 2rem 0 3rem 0;
    padding-right: 26vw;
    line-height: 1.2;
  }
}
