.card {
  position: relative;
}
.card-polaroid {
  position: absolute;
}
.polaroid-image {
  max-width: 19vw;
  object-fit: cover;
}

.image {
  position: relative;
  width: 23vw;
  object-fit: cover;
}

.card-title {
  position: absolute;
}
.title {
  position: relative;
  font-size: clamp(1.5vw, 2vw, 3vw);
  text-align: center;
  top: -2vw;
  color: #000;
}
