.section-resources {
  width: calc(100% / 2);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, min-content));
  grid-template-rows: repeat(2, minmax(0, min-content));
  gap: 1rem;
}

.recoure-image {
  display: flex;
  justify-content: center;
  width: 100%;
  border: #000 solid 1px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.resource-video {
  height: 21vw;
  background-image: url("../../assets/resources/youtubeBlue.png");
  background-color: #629cbd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.resource-audio {
  height: 10vw;
  background-image: url("../../assets/images/megaphone.png");
}
.resource-blog {
  height: 15vw;
  background-image: url("../../assets/images/cortarBLog.png");
}
.resource-grafic {
  height: 15vw;
  background-image: url("../../assets/images/equalizer.png");
}
.resource-arrowUp {
  border: none;
  height: 15vw;
  position: relative;
  top: -4vw;
  width: 20vw;
  /* width: 15vw; */
  /* background-image: url("../../assets/resources/arrowUp.png"); */
  /* background-size: contain; */
}
.resource-text {
  color: #fff;
  font-size: 4vw;
  font-weight: var(--fontWeightMedium);
  align-self: center;
  justify-self: center;
}
