.footer {
  max-height: min-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primaryColor);
  margin-top: 10vw;
}
.footer-content-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.footer-text {
  margin: 0 0 0 5vw;
  color: #fff;
  letter-spacing: 2px;
  font-weight: var(--fontWeightSemiBold);
  font-size: clamp(var(--fontSize), 5vw, 5vw);
  text-shadow: 2px 2px 3px #000;
}
.footer-content-arrow {
  position: relative;
}
.footer-arrow-image {
  position: absolute;
  top: -9vw;
  right: -4vw;
  object-fit: cover;
  width: 19vw;
}
@media screen and (max-width: 600px) {
  .footer {
    justify-content: center;
  }
  .footer-content-icon {
    gap: 0.7rem;
  }
  .footer-arrow-image {
    right: -10vw;
  }
}
