.footer {
  margin-top: 10vw;
  background-color: var(--primaryColor);
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}
.text-service {
  margin: 0 0 0 5vw;
  color: #fff;
  letter-spacing: 2px;
  font-weight: var(--fontWeightSemiBold);
  font-size: clamp(var(--fontSize), 5vw, 5vw);
  text-shadow: 2px 2px 3px #000;
}
@media screen and (max-width: 600px) {
  .footer {
    margin-top: 2rem;
  }
  .footer-content {
    /* width: 90vw; */
  }
}
