@import url("https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --fontSize: 18px;
  --fontFamily: "Montserrat";
  --fontFamilyVariant: "Liu Jian Mao Cao", cursive;
  --fontWeight: 400;
  --fontWeightBold: 700;
  --fontWeightUltraBold: 800;
  --fontWeightLight: 300;
  --fontWeightMedium: 500;
  --fontWeightSemiBold: 600;
  --fontWeightThin: 100;
  --fontWeightUltraLight: 200;
  --primaryColor: #005f94;
  --secondaryColor: #00a0e9;
  --tertiaryColor: #afccdd;
  --quaternaryColor: #89acc0;
  --quinaryColor: #5091b5;
  --smScreen: 640px;
  --lgScreen: 1024px;
  --xlScreen: 1440px;
}
html,
body {
  font-family: var(--fontFamily);
}
